.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 20px;
    margin-top: 20px;
}

.about__ascii-picture {
    grid-column: span 2;
    justify-self: center;
}

.about__label,
.about__value {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.about__label:nth-child(4n + 1),
.about__value:nth-child(4n + 1),
.about__label:nth-child(4n + 4),
.about__value:nth-child(4n + 4) {
    background-color: #e8f8e8;
}

.about__label:nth-child(4n + 2),
.about__value:nth-child(4n + 2),
.about__label:nth-child(4n + 3),
.about__value:nth-child(4n + 3) {
    background-color: #f2f2f2;
}

.about__label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

.about__value {
    font-style: italic;
    color: #555;
    text-align: left;
}

@media (max-width: 450px) {
    .about__ascii-picture {
        grid-column: auto;
    }
    .about {
        grid-template-columns: auto
    }
}
