#todo-list, #done-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#todo-list li, #done-list li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

#todo-list li:hover {
    background-color: #76DB67;
    color: #fff;
}

#done-list li {
    background-color: #ddd;
    text-decoration: line-through;
    color: #888;
}

#preloader {
    text-align: center;
    margin: 20px 0;
}